{% extends 'main.html' %} {%block content%}
<h3 style="margin-left: 20px;">Add ToDo</h3>
<form style="margin-left: 20px;" action="" method="POST">
  {%csrf_token%}
  <div>
    <div><label>Enter Title</label></div>
    {{form.title}}
  </div> 
  <div style="margin-top: 10px;">
    <div><label>Enter Description</label></div>
    {{form.description}}
  </div>

  <div style="margin-top: 10px;">
    <div><label>Add Deadline</label></div>
    {{form.deadline}}
  </div>

  
  <div style="margin-top: 10px;">
    <div><label>Add Status</label></div>
    {{form.completed}}
  </div>
  
 
  <div style="margin-top: 10px;">
  <input type="submit" class="btn btn-success" placeholder="Add-To-Do" />
</div>
</form>
{%endblock content%}
