{%extends 'main.html'%} {%block content%}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div
          class="card"
          id="list1"
          style="border-radius: 0.75rem; background-color: #eff1f2"
        >
          <div class="card-body py-4 px-4 px-md-5">
            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
              <i class="fas fa-check-square me-1"></i>
               <span style="color: black;">My Todo-s</span>
            </p>

            <!-- Float the element to left (add button) -->
            <div class="pb-2 float-left">
              <button
                type="button"
                class="btn btn-primary"
                style="margin: auto"
              >
                <a href="{% url 'add-todo' %}" style="color: white">Add</a>
              </button>
            </div>

            <hr class="my-4" />

            <h4>To Be Completed</h4>
            <ul>
              {% for todo in todos %} {%if todo.completed == 'False' %}
              <li style="margin-bottom: 10px;">
                {{todo.title}} | Deadline: {{todo.deadline}} |
                <small>
                  <button class="btn btn-info">
                    <a href="{%url 'view-todo' todo.id%}" style="color: white"
                      >view</a
                    >
                  </button>
                </small>

                <small>
                  <button class="btn btn-success">
                    <a href="{%url 'update-todo' todo.id%}" style="color: white"
                      >update</a
                    >
                  </button>
                </small>

                <small>
                  <button class="btn btn-danger">
                    <a href="{%url 'delete-todo' todo.id%}" style="color: white"
                      >delete</a
                    >
                  </button>
                </small>
              </li>

              {%endif%} {%endfor%}
            </ul>

            <hr />

            <h4>Completed</h4>
            <ul>
              {% for todo in todos %} {%if todo.completed == 'True' %}
              <li style="margin-bottom: 10px;">
                {{todo.title}} | Deadline: {{todo.deadline}} |
                <small>
                  <button class="btn btn-info">
                    <a href="{%url 'view-todo' todo.id%}" style="color: white"
                      >view</a
                    >
                  </button>
                </small>

                <small>
                  <button class="btn btn-success">
                    <a href="{%url 'update-todo' todo.id%}" style="color: white"
                      >update</a
                    >
                  </button>
                </small>

                <small>
                  <button class="btn btn-danger">
                    <a href="{%url 'delete-todo' todo.id%}" style="color: white"
                      >delete</a
                    >
                  </button>
                </small>
              </li>

              {%endif%} {%endfor%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock content%}
